.books {
  .add-book {
        vertical-align: center;

        .plus-icon {
          color: $plus-icon-color;
          cursor: pointer;
        }

        span {
          font-weight: 500;
          cursor: pointer;
        }
    }

}