@import "variables";

.nav-header {
  font-weight: 700;
  font-size: 3em;
  color: $font-color;
  z-index: 2;
}

.nav {
  cursor: pointer;
}
.nav:hover {
  color: #0A54A0;
}

.menu-div {
  background-color: transparent;

  .menu {
    cursor: pointer;
  }
}

