@import "variables";

  //header component ---
  .header {
    color: $font-color;
  }

  //.no-items-label {}

  //add-item component ---
  .add-item {
    vertical-align: center;

    .plus-icon {
      color: $plus-icon-color;
      cursor: pointer;
    }

    span {
      font-weight: 500;
      cursor: pointer;
    }
  }

    //list-items ---
    .list-group-item {
      .icon {
        visibility: hidden;
      }

      .item-row:hover {
        background-color: $hover-color;

        .icon {
          visibility: visible;
          cursor: pointer;
        }
      }
  }

    //form component ---
  .form {
    .form-title {
      h5 {
        label {
          color: $form-label-color;
          border-bottom: 2px solid $form-label-color;
        }
      }

      svg { //close icon
        color: $close-icon-color;
        cursor: pointer;
      }
    }

    .form-label {
      font-size: .7em;
      font-weight: 500;
    }

    .form-control {
      border-radius: 0;
      border: 2px solid $input-border-color;
    }

    .input-field {
      height: calc(1.5em + 0.5rem);
      min-height: calc(1.5em + 0.5rem);
    }

    .invalid-feedback {
      font-size: .6em;
      font-weight: 600;
    }

    .select-control__control {
      height: calc(1.5em + 0.5rem);
      min-height: calc(1.5em + 0.5rem);
      align-content: center;
    }

    .form-button {
      background-color: $form-button-color;
      font-size: .9em;
      font-weight: 500;
      border-radius: .5em;
    }
  }
