@import "variables";

.library-body {
    .header {
        border-bottom: 2px solid #2D3134;
        color: $font-color;
    }

    //.no-items-label {}

    .form {
        .form-title {
            h5{
                label {
                    color: $form-label-color;
                    border-bottom: 2px solid $form-label-color;
                }
            }
            svg { //close icon
                color: $close-icon-color;
                cursor: pointer;
            }
        }
        .form-label {
            font-size: .7em;
            font-weight: 500;
        }
        .form-control {
              border-radius: 0;
              border: 2px solid $input-border-color;
        }
        .invalid-feedback {
            font-size: .6em;
            font-weight: 600;
        }
        .form-button {
            background-color: $form-button-color;
            font-size: .9em;
            font-weight: 500;
            border-radius: .5em;
        }
    }
}